<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation">
      <valuation
            domain="flintstones.domain.linguistic"
            id="flintstones.valuation.hesitant"
            name="%valuation.hesitant">
         <type
               implementation="sinbad2.valuation.hesitant.HesitantValuation">
         </type>
      </valuation>
      <valuation
            domain="flintstones.domain.linguistic.unbalanced"
            id="flintstones.valuation.hesitantU"
            name="%valuation.hesitant.unbalanced">
         <type
               implementation="sinbad2.valuation.hesitant.HesitantValuation">
         </type>
      </valuation>
   </extension>

</plugin>
