<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionphase">
      <resolution_phase
            id="flintstones.resolutionphase.framework"
            implementation="flintstones.resolutionphase.framework.Framework"
            name="%resolution_phase.name">
      </resolution_phase>
   </extension>

</plugin>
