<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="flintstones.domain.ui.modify.dialog" name="Modify domain dialog" schema="schema/flintstones.domain.ui.modify.dialog.exsd"/>
   <extension-point id="flintstones.domain.ui.new.dialog" name="New domain dialog" schema="schema/flintstones.domain.ui.new.dialog.exsd"/>
   <extension-point id="flintstones.domain.ui" name="Flintstones domain ui" schema="schema/flintstones.domain.ui.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.domain.category"
            name="Domains">
      </category>
      <view
            allowMultiple="false"
            category="flintstones.domain.category"
            class="sinbad2.domain.ui.view.domain.DomainView"
            icon="icons/domain.png"
            id="flintstones.domain.ui.view.domain"
            name="Domain"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="flintstones.domain.category"
            class="sinbad2.domain.ui.view.domains.DomainsView"
            icon="icons/domains.png"
            id="flintstones.domain.ui.view.domains"
            name="Domains"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="flintstones.domain.ui.view.domains.domains_view"
            name="Domains context"
            parentId="flintstones.core.ui">
      </context>
      <context
            id="flintstones.domain.ui.view.domain.domain_view"
            name="Domain context"
            parentId="flintstones.core.ui">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="flintstones.domains.category"
            name="Domains">
      </category>
      <command
            categoryId="flintstones.domains.category"
            id="flintstones.domain.add"
            name="&amp;Add">
      </command>
      <command
            categoryId="flintstones.domains.category"
            id="flintstones.domain.modify"
            name="&amp;Modify">
      </command>
      <command
            categoryId="flintstones.domains.category"
            id="flintstones.domain.remove"
            name="&amp;Remove">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="sinbad2.domain.ui.handler.add.AddDomainHandler"
            commandId="flintstones.domain.add">
      </handler>
      <handler
            class="sinbad2.domain.ui.handler.modify.ModifyDomainHandler"
            commandId="flintstones.domain.modify">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="sinbad2.domain.Domain">
                     </instanceof>
                  </iterate>
               </with>
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="sinbad2.domain.ui.handler.remove.RemoveDomainHandler"
            commandId="flintstones.domain.remove">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="sinbad2.domain.Domain">
                     </instanceof>
                  </iterate>
               </with>
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="sinbad2.domain.ui.handler.remove.RemoveMultipleDomainsHandler"
            commandId="flintstones.domain.remove">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="sinbad2.domain.Domain">
                     </instanceof>
                  </iterate>
               </with>
               <not>
                  <reference
                        definitionId="oneElementSelected">
                  </reference>
               </not>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="flintstones.domain.add"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/add_obj.gif">
      </image>
      <image
            commandId="flintstones.domain.modify"
            icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.gif">
      </image>
      <image
            commandId="flintstones.domain.remove"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/delete_obj.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:flintstones.domain.ui.view.domains">
         <command
               commandId="flintstones.domain.add"
               style="push">
         </command>
         <command
               commandId="flintstones.domain.modify"
               style="push">
         </command>
         <command
               commandId="flintstones.domain.remove"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:flintstones.domain.ui.view.domains">
         <command
               commandId="flintstones.domain.add"
               style="push">
         </command>
         <command
               commandId="flintstones.domain.modify"
               style="push">
         </command>
         <command
               commandId="flintstones.domain.remove"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:flintstones.domain.ui.view.domains">
         <command
               commandId="flintstones.domain.add"
               style="push">
         </command>
         <command
               commandId="flintstones.domain.modify"
               style="push">
         </command>
         <command
               commandId="flintstones.domain.remove"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:flintstones.menu.framework?after=flintstones.menu.criteria">
         <menu
               icon="icons/domains.png"
               id="flintstones.menu.domains"
               label="Domains"
               mnemonic="D">
            <command
                  commandId="flintstones.domain.add"
                  style="push">
            </command>
            <command
                  commandId="flintstones.domain.modify"
                  style="push">
            </command>
            <command
                  commandId="flintstones.domain.remove"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="flintstones.domain.add"
            contextId="flintstones.domain.ui.view.domains.domains_view"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="flintstones.domain.modify"
            contextId="flintstones.domain.ui.view.domains.domains_view"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="flintstones.domain.remove"
            contextId="flintstones.domain.ui.view.domains.domains_view"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
   </extension>

</plugin>
