<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod.ui">
      <ui
            id="flintstones.phasemethod.topsis.selection.ui"
            name="Selection process"
            phasemethod="flintstones.phasemethod.topsis.selection">
         <view
               step="sinbad2.phasemethod.topsis.selection.ui.view.AggregationExperts">
         </view>
         <view
               step="sinbad2.phasemethod.topsis.selection.ui.view.CalculateDistances">
         </view>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.phasemethod.topsis.selection.ui.category"
            name="Selection">
      </category>
      <view
            category="flintstones.phasemethod.topsis.selection.ui.category"
            class="sinbad2.phasemethod.topsis.selection.ui.view.AggregationExperts"
            id="flintstones.phasemethod.topsis.selection.ui.view.aggregationexperts"
            name="Aggregation experts"
            restorable="true">
      </view>
      <view
            category="flintstones.phasemethod.topsis.selection.ui.category"
            class="sinbad2.phasemethod.topsis.selection.ui.view.CalculateDistances"
            id="flintstones.phasemethod.topsis.selection.ui.view.calculatedistances"
            name="Calculate distances"
            restorable="true">
      </view>
   </extension>

</plugin>
