<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionphase.ui">
      <ui
            id="flintstones.resolutionphase.frameworkstructuring.ui"
            name="%ui.framework.structuring"
            resolution_phase="flintstones.resolutionphase.frameworkstructuring">
         <perspective
               id="flintstones.resolutionphase.frameworkstructuring.perspective">
         </perspective>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sinbad2.resolutionphase.frameworkstructuring.ui.FrameworkStructuringPerspective"
            icon="icons/frameworkstructuring.png"
            id="flintstones.resolutionphase.frameworkstructuring.perspective"
            name="%perspective.framework.structuring">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="flintstones.resolutionphase.frameworkstructuring.perspective">
         <view
               closeable="false"
               id="flintstones.resolutionphase.frameworkstructuring.ui.view.assignmentsprovider"
               minimized="false"
               moveable="false"
               ratio="0.07"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.element.ui.view.element"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.domain.ui.view.domain.domainindex"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="flintstones.element.ui.view.element"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.resolutionphase.frameworkstructuring.ui.view.elementassignments"
               minimized="false"
               moveable="false"
               ratio="0.95"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.frameworkstructuring.category"
            name="%category.framework.structuring">
      </category>
      <view
            category="flintstones.frameworkstructuring.category"
            class="sinbad2.resolutionphase.frameworkstructuring.ui.view.assignmentsprovider.AssignmentsProviderView"
            icon="icons/elementassignmentstable.png"
            id="flintstones.resolutionphase.frameworkstructuring.ui.view.assignmentsprovider"
            name="%view.assignments.provider"
            restorable="true">
      </view>
      <view
            category="flintstones.frameworkstructuring.category"
            class="sinbad2.resolutionphase.frameworkstructuring.ui.view.elementassignments.ElementAssignmentsView"
            icon="icons/elementassignmentstable.png"
            id="flintstones.resolutionphase.frameworkstructuring.ui.view.elementassignments"
            name="%view.element.assignments"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="flintstones.resolutionphase.frameworkstructuring.ui.view.elementassignments.elementassignments_view"
            name="%context.assignments.context"
            parentId="flintstones.core.ui">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="sinbad2.resolutionphase.frameworkstructuring.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sinbad2.resolutionphase.frameworkstructuring.ui.preferences.FrameworkStructuringPreferencesPage"
            id="flintstones.resolutionphase.frameworkstructuring.preferences.FrameworkPreferencesPage"
            name="%page.framework.structuring">
      </page>
   </extension>

</plugin>
