<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.method.ui">
      <method_ui
            id="flintstones.method.linguistic.linguistic.twotuple.ui"
            method="flintstones.method.linguistic.linguistic.twotuple"
            name="2-tuple linguistic computational model">
         <ui
               id="flintstones.phasemethod.linguistic.twotuple.unification.ui.ui1">
         </ui>
         <ui
               id="flintstones.phasemethod.linguistic.twotuple.aggregation.ui">
         </ui>
      </method_ui>
   </extension>

</plugin>
