<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod">
      <phase
            id="flintstones.phasemethod.multigranular.elh.aggregation"
            implementation="sinbad2.phasemethod.multigranular.elh.aggregation.AggregationPhase"
            name="Aggregation">
      </phase>
   </extension>

</plugin>
