<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.domain">
      <domain
            id="flintstones.domain.numeric.integer"
            name="%domain.numeric.integer">
         <type>
            <numeric
                  implementation="sinbad2.domain.numeric.integer.NumericIntegerDomain">
            </numeric>
         </type>
      </domain>
   </extension>

</plugin>
