<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation">
      <valuation
            domain="flintstones.domain.numeric.integer"
            id="flintstones.valuation.integer.interval"
            name="Integer interval">
         <type>
            <normalized
                  implementation="sinbad2.valuation.integer.interval.IntegerInterval">
            </normalized>
         </type>
      </valuation>
   </extension>

</plugin>
