<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.domain">
      <domain
            id="flintstones.domain.linguistic.unbalanced"
            name="Unbalanced">
         <type>
            <linguistic
                  implementation="sinbad2.domain.linguistic.unbalanced.Unbalanced">
            </linguistic>
         </type>
      </domain>
   </extension>

</plugin>
