<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.method">
      <method
            category="%method-category"
            description="%method-description"
            id="flintstones.method.decision.emergency"
            implementation="sinbad2.method.decision.emergency.Emergency"
            name="%method-name">
         <phasemethod
               phase="flintstones.phasemethod.emergency.aggregation">
         </phasemethod>
         <phasemethod
               phase="flintstones.phasemethod.emergency.computinggainsandlosses">
         </phasemethod>
         <phasemethod
               phase="flintstones.phasemethod.emergency.computeweights">
         </phasemethod>
         <aggregation_supported
               type="Interval">
         </aggregation_supported>
      </method>
   </extension>

</plugin>
