<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod">
      <phase
            id="flintstones.phasemethod.heterogeneous.fusion.analysis"
            implementation="sinbad2.phasemethod.heterogeneous.fusion.analysis.AnalysisPhase"
            name="Analysis">
      </phase>
   </extension>

</plugin>
