<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionscheme">
      <scheme
            id="flintstones.resolutionscheme.dm"
            implementation="sinbad2.resolutionscheme.dm.DecisionMaking"
            name="Toma de decisiones">
         <phase
               resolution_phase="flintstones.resolutionphase.framework">
         </phase>
         <phase
               resolution_phase="flintstones.resolutionphase.frameworkstructuring">
         </phase>
         <phase
               resolution_phase="flintstones.resolutionphase.gathering">
         </phase>
         <phase
               resolution_phase="flintstones.resolutionphase.analysis">
         </phase>
         <phase
               resolution_phase="flintstones.resolutionphase.sensitivityanalysis">
         </phase>
      </scheme>
   </extension>

</plugin>
