<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation">
      <valuation
            domain="flintstones.domain.linguistic"
            id="flintstones.valuation.linguistic"
            name="%valuation.linguistic">
         <type
               implementation="sinbad2.valuation.linguistic.LinguisticValuation">
         </type>
      </valuation>
      <valuation
            domain="flintstones.domain.linguistic.unbalanced"
            id="flintstones.valuation.linguistic.unbalanced"
            name="%valuation.linguistic.unbalanced">
         <type
               implementation="sinbad2.valuation.linguistic.LinguisticValuation">
         </type>
      </valuation>
   </extension>

</plugin>
