<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation">
      <valuation
            domain="flintstones.domain.linguistic"
            id="flintstones.valuation.linguistic"
            name="Linguistic">
         <type>
            <normalized
                  implementation="sinbad2.valuation.linguistic.LinguisticValuation">
            </normalized>
         </type>
      </valuation>
      <valuation
            domain="flintstones.domain.linguistic.unbalanced"
            id="flintstones.valuation.linguistic.unbalanced"
            name="Unbalanced linguistic">
         <type>
            <normalized
                  implementation="sinbad2.valuation.linguistic.LinguisticValuation">
            </normalized>
         </type>
      </valuation>
   </extension>

</plugin>
