<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.domain">
      <domain
            id="flintstones.domain.numeric.real"
            name="Real numeric">
         <type>
            <numeric
                  implementation="sinbad2.domain.numeric.real.NumericRealDomain">
            </numeric>
         </type>
      </domain>
   </extension>

</plugin>
