<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation">
      <valuation
            domain="flintstones.domain.numeric.real"
            id="flintstones.valuation.real.interval"
            name="%valuation.real.interval">
         <type
               implementation="sinbad2.valuation.real.interval.RealInterval">
         </type>
      </valuation>
   </extension>

</plugin>
