<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.method.ui">
      <method_ui
            id="flintstones.method.linguistic.hesitant.ui"
            method="flintstones.method.linguistic.hesitant"
            name="Hesitant Fuzzy 2-tuple Linguistic Information">
      </method_ui>
   </extension>

</plugin>
