<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="flintstones.menu.file"
               label="File"
               mnemonic="A">
            <command
                  commandId="flintstones.workspace.ui.io.new"
                  style="push">
            </command>
            <command
                  commandId="flintstones.workspace.ui.io.read"
                  style="push">
            </command>
            <command
                  commandId="flintstones.workspace.ui.io.save"
                  style="push">
            </command>
            <command
                  commandId="flintstones.workspace.ui.io.save.as"
                  style="push">
            </command>
            <command
                  commandId="flintstones.workspace.ui.io.save.and.close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="exit"
                  label="&amp;Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="flintstones.menu.edit"
               label="Edit">
            <command
                  commandId="flintstones.workspace.ui.undo"
                  style="push">
            </command>
            <command
                  commandId="flintstones.workspace.ui.redo"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="flintstones.workspace.commands.category"
            name="Comandos del workspace">
      </category>
      <command
            categoryId="flintstones.workspace.commands.category"
            id="flintstones.workspace.ui.io.new"
            name="&amp;New">
      </command>
      <command
            categoryId="flintstones.workspace.commands.category"
            id="flintstones.workspace.ui.io.read"
            name="O&amp;pen">
      </command>
      <command
            categoryId="flintstones.workspace.commands.category"
            id="flintstones.workspace.ui.io.save"
            name="&amp;Save">
      </command>
      <command
            categoryId="flintstones.workspace.commands.category"
            id="flintstones.workspace.ui.io.save.as"
            name="Sav&amp;e as...">
      </command>
      <command
            categoryId="flintstones.workspace.commands.category"
            id="flintstones.workspace.ui.io.save.and.close"
            name="Save &amp;and close">
      </command>
      <category
            id="flintstones.workspace.undo_redo.category"
            name="undo_redo">
      </category>
      <command
            categoryId="flintstones.workspace.undo_redo.category"
            id="flintstones.workspace.ui.undo"
            name="&amp;Undo">
      </command>
      <command
            id="flintstones.workspace.ui.redo"
            name="&amp;Redo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>

</plugin>
