<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionphase.ui">
      <ui
            id="flintstones.resolutionphase.gathering.ui"
            name="Gathering"
            resolution_phase="flintstones.resolutionphase.gathering">
         <perspective
               id="flintstones.resolutionphase.gathering.perspective">
         </perspective>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sinbad2.resolutionphase.gathering.ui.GatheringPerspective"
            icon="icons/gathering.png"
            id="flintstones.resolutionphase.gathering.perspective"
            name="Gathering">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="flintstones.resolutionphase.gathering.perspective">
         <view
               closeable="false"
               id="flintstones.element.ui.view.element"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.domain.ui.view.domain.domainindex"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="flintstones.element.ui.view.element"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.valuation.valuationset.ui.view.elementvaluations"
               minimized="false"
               moveable="false"
               ratio="0.95"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.valuation.ui.view.valuationpanel"
               minimized="false"
               moveable="false"
               ratio="0.55"
               relationship="bottom"
               relative="flintstones.valuation.valuationset.ui.view.elementvaluations"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
