<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation.ui">
      <valuation_ui
            valuation="flintstones.valuation.real">
         <new_domain_dialog
               dialog="sinbad2.domain.numeric.real.new">
         </new_domain_dialog>
         <modify_domain_dialog
               dialog="sinbad2.domain.numeric.real.modify">
         </modify_domain_dialog>
      </valuation_ui>
   </extension>

</plugin>
