<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionphase.ui">
      <ui
            id="flintstones.resolutionphase.analysis.ui"
            name="Analysis"
            resolution_phase="flintstones.resolutionphase.analysis">
         <perspective
               id="flintstones.resolutionphase.analysis.perspective">
         </perspective>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sinbad2.resolutionphase.analysis.ui.AnalysisPerspective"
            icon="icons/analysis.png"
            id="flintstones.resolutionphase.analysis.perspective"
            name="Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="flintstones.resolutionphase.analysis.perspective">
         <view
               closeable="false"
               id="flintstones.resolutionphase.analysis.ui.view.methodselector"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.analysis.category"
            name="Analysis">
      </category>
      <view
            category="flintstones.analysis.category"
            class="sinbad2.resolutionphase.analysis.ui.view.MethodSelectorView"
            id="flintstones.resolutionphase.analysis.ui.view.methodselector"
            name="Method selector"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="flintstones.resolutionphase.analysis.ui.view.methodselector.methodselector_view"
            name="Method selector context"
            parentId="flintstones.core.ui">
      </context>
   </extension>

</plugin>
