<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod.ui">
      <ui
            id="flintstones.phasemethod.multigranular.fusion.analysis.ui"
            name="Analysis"
            phasemethod="flintstones.phasemethod.multigranular.fusion.analysis">
         <view
               step="sinbad2.phasemethod.multigranular.analysis.ui.view.Analysis">
         </view>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.phasemethod.multigranular.analysis.ui.category"
            name="Analysis">
      </category>
      <view
            category="flintstones.phasemethod.multigranular.analysis.ui.category"
            class="sinbad2.phasemethod.multigranular.analysis.ui.view.Analysis"
            id="flintstones.phasemethod.multigranular.fusion.analysis.ui.view.analysis"
            name="Analysis"
            restorable="true">
      </view>
   </extension>

</plugin>
