<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation">
      <valuation
            domain="flintstones.domain.numeric.integer"
            id="flintstones.valuation.integer"
            name="Integer">
         <type
               implementation="sinbad2.valuation.integer.IntegerValuation">
         </type>
      </valuation>
   </extension>

</plugin>
