<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod.ui">
      <ui
            id="flintstones.phasemethod.linguistic.hesitant.unification.ui"
            name="%ui.name"
            phasemethod="flintstones.phasemethod.linguistic.hesitant.unification">
         <view
               step="sinbad2.phasemethod.linguistic.hesitant.unification.ui.view.Unification">
         </view>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.phasemethod.linguistic.hesitant.unification.ui.category"
            name="%category.name">
      </category>
      <view
            category="flintstones.phasemethod.linguistic.hesitant.unification.ui.category"
            class="sinbad2.phasemethod.linguistic.hesitant.unification.ui.view.Unification"
            id="flintstones.phasemethod.linguistic.hesitant.ui.view.unification"
            name="%view.name"
            restorable="true">
      </view>
   </extension>

</plugin>
