<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="flintstones.resolutionphase.framework.ui.FrameworkPerspective"
            id="flintstones.resolutionphase.framework.perspective"
            name="Framework">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="flintstones.resolutionphase.framework.perspective">
         <view
               closeable="false"
               id="flintstones.element.ui.view.experts"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="flintstones.resolutionphase.ui">
      <ui
            id="flintstones.resolutionphase.framework.ui"
            name="framework"
            resolution_phase="flintstones.resolutionphase.framework">
         <perspective
               id="flintstones.resolutionphase.framework.perspective">
         </perspective>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=flintstones.menu.edit">
         <menu
               id="flinstones.menu.framework"
               label="Framework">
         </menu>
      </menuContribution>
   </extension>

</plugin>
