<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionphase.ui">
      <ui
            id="flintstones.resolutionphase.framework.ui"
            name="%resolution.phase.ui.name"
            resolution_phase="flintstones.resolutionphase.framework">
         <perspective
               id="flintstones.resolutionphase.framework.perspective">
         </perspective>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sinbad2.resolutionphase.framework.ui.FrameworkPerspective"
            icon="icon/framework.png"
            id="flintstones.resolutionphase.framework.perspective"
            name="%framework.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="flintstones.resolutionphase.framework.perspective">
         <view
               closeable="false"
               id="flintstones.element.ui.view.experts"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.element.ui.view.alternatives"
               minimized="false"
               moveable="false"
               ratio="0.33"
               relationship="right"
               relative="flintstones.element.ui.view.experts"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.element.ui.view.criteria"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="flintstones.element.ui.view.alternatives"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.domain.ui.view.domains"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.domain.ui.view.domain"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="flintstones.domain.ui.view.domains"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=flintstones.menu.edit">
         <menu
               id="flintstones.menu.framework"
               label="Framework"
               mnemonic="F">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sinbad2.resolutionphase.framework.ui.preferences.FrameworkPreferencesPage"
            id="sinbad2.resolutionphase.framework.preferences.FrameworkPreferencesPage"
            name="Framework">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="sinbad2.resolutionphase.framework.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
