<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.method">
      <method
            category="%method.category"
            description="%method.description"
            id="flintstones.method.decision.transrisk"
            implementation="sinbad2.method.decision.transrisk.TRANSrisk"
            name="%method.name">
         <phasemethod
               phase="flintstones.phasemethod.heterogeneous.fusion.unification">
         </phasemethod>
         <aggregation_supported
               type="TwoTuple">
         </aggregation_supported>
         <aggregation_supported
               type="Linguistic">
         </aggregation_supported>
         <aggregation_supported
               type="Numeric">
         </aggregation_supported>
      </method>
   </extension>

</plugin>
