<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.aggregationoperator">
      <aggregation_operator
            id="sinbad2.aggregationoperator.owa"
            name="OWA"
            parameters="false">
         <weighted
               implementation="sinbad2.aggregationoperator.owa.OWA">
            <supported_types
                  type="TwoTuple">
            </supported_types>
            <supported_types
                  type="Numeric">
            </supported_types>
         </weighted>
      </aggregation_operator>
   </extension>

</plugin>
