<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.method">
      <method
            category="Multi-granular framework"
            description="M. Espinilla, J. Liu, L. Martínez, An Extended Hierarchical Linguistic Model for Decision-Making Problems. Computational Intelligence, vol. 27, issue 3, pp. 489-512, 2011."
            id="flintstones.method.linguistic.multigranular.elh"
            implementation="sinbad2.method.linguistic.multigranular.elh.ELH"
            name="Extended Linguistic Hierarchies">
         <phasemethod
               phase="flintstones.phasemethod.multigranular.elh.unification">
         </phasemethod>
         <phasemethod
               phase="flintstones.phasemethod.aggregation">
         </phasemethod>
         <phasemethod
               phase="flintstones.phasemethod.multigranular.elh.retranslation">
         </phasemethod>
         <phasemethod
               phase="flintstones.phasemethod.multigranular.elh.analysis">
         </phasemethod>
         <aggregation_supported
               type="TwoTuple">
         </aggregation_supported>
         <aggregation_supported
               type="Linguistic">
         </aggregation_supported>
      </method>
   </extension>

</plugin>
