<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="flintstones.valuation.ui" name="%extension-point.valuation.ui" schema="schema/flintstones.valuation.ui.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.valuation.category"
            name="%category.name">
      </category>
      <view
            category="flintstones.valuation.category"
            class="sinbad2.valuation.ui.view.ValuationPanelView"
            icon="icons/valuation-panel.png"
            id="flintstones.valuation.ui.view.valuationpanel"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="flintstones.valuation.ui.view.valuationpanelview_valuationpanelview"
            name="%context.name"
            parentId="flintstones.core.ui">
      </context>
   </extension>

</plugin>
