<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.valuation">
      <valuation
            domain="flintstones.domain.numeric.real"
            id="flintstones.valuation.real"
            name="Real">
         <type>
            <normalized
                  implementation="sinbad2.valuation.real.RealValuation">
            </normalized>
         </type>
      </valuation>
   </extension>

</plugin>
