<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod.ui">
      <ui
            id="flintstones.phasemethod.todim.resolution.ui"
            name="Resolution"
            phasemethod="flintstones.phasemethod.todim.resolution">
      </ui>
   </extension>

</plugin>
