<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod">
      <phase
            id="flintstones.phasemethod.todim.resolution"
            implementation="sinbad2.phasemethod.todim.resolution.ResolutionPhase"
            name="Resolution">
      </phase>
   </extension>

</plugin>
