<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionphase">
      <resolution_phase
            id="flintstones.resolutionphase.gathering"
            implementation="sinbad2.resolutionphase.gathering.Gathering"
            name="Gathering">
      </resolution_phase>
   </extension>

</plugin>
