<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod.ui">
      <ui
            id="flintstones.phasemethod.linguistic.hesitant.twotuple.unification.ui"
            name="Unification"
            phasemethod="flintstones.phasemethod.linguistic.hesitant.twotuple.unification">
         <view
               step="sinbad2.phasemethod.linguistic.hesitant.twotuple.unification.ui.view.GenerateUnificationDomain">
         </view>
         <view
               step="sinbad2.phasemethod.linguistic.hesitant.twotuple.unification.ui.view.Unification">
         </view>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.phasemethod.linguistic.hesitant.twotuple.unification.ui.category"
            name="Unification">
      </category>
      <view
            category="flintstones.phasemethod.linguistic.hesitant.twotuple.unification.ui.category"
            class="sinbad2.phasemethod.linguistic.hesitant.twotuple.unification.ui.view.GenerateUnificationDomain"
            id="flintstones.phasemethod.linguistic.hesitant.twotuple.unification.ui.view.generateunificationdomain"
            name="Generate unification domain"
            restorable="true">
      </view>
      <view
            category="flintstones.phasemethod.linguistic.hesitant.twotuple.unification.ui.category"
            class="sinbad2.phasemethod.linguistic.hesitant.twotuple.unification.ui.view.Unification"
            id="flintstones.phasemethod.linguistic.hesitant.twotuple.unification.ui.view.unification"
            name="Unification"
            restorable="true">
      </view>
   </extension>

</plugin>
