<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="flintstones.rcp.target" sequenceNumber="61">
<locations>
<location path="C:\Users\Álvaro\git\flintstones_ref\sinbad2.target.rcp\detla.pack" type="Directory"/>
<location path="C:\Users\Álvaro\git\flintstones_ref\sinbad2.target.rcp\sdk" type="Directory"/>
</locations>
</target>
