<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.method">
      <method
            category="Multi-criteria decision analysis"
            description="%Method-Description"
            id="flintstones.method.decision.topsis"
            implementation="sinbad2.method.decision.topsis.Topsis"
            name="%Method-Name">
         <phasemethod
               phase="flintstones.phasemethod.topsis.unification">
         </phasemethod>
         <phasemethod
               phase="flintstones.phasemethod.topsis.selection">
         </phasemethod>
         <aggregation_supported
               type="TwoTuple">
         </aggregation_supported>
      </method>
   </extension>

</plugin>
