<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.elements.category"
            name="%element.category.name">
      </category>
      <view
            allowMultiple="false"
            category="flintstones.elements.category"
            class="flintstones.element.ui.view.experts.ExpertsView"
            icon="icons/group-of-experts.png"
            id="flintstones.element.ui.view.experts"
            name="%experts.view.name"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:flintstones.element.ui.view.experts">
         <command
               commandId="flintstones.element.expert.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.modify"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:flintstones.element.ui.view.expert">
         <command
               commandId="flintstones.element.expert.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.modify"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:flintstones.element.ui.view.experts">
         <command
               commandId="flintstones.element.expert.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.modify"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:flintstones.menu.framework">
         <menu
               icon="icons/group-of-experts.png"
               id="flintstones.menu.experts"
               label="%experts.menu.label"
               mnemonic="%experts.menu.mnemonic">
            <command
                  commandId="flintstones.element.expert.add"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="flintstones.element.ui.handler.expert.add.AddExpertHandler"
            commandId="flintstones.element.expert.add">
      </handler>
      <handler
            class="flintstones.element.ui.handler.expert.modify.ModifyExpertHandler"
            commandId="flintstones.element.expert.modify">
      </handler>
      <handler
            class="flintstones.element.ui.handler.expert.remove.RemoveExpertHandler"
            commandId="flintstones.element.expert.remove">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="flintstones.element.expert.Expert">
                     </instanceof>
                  </iterate>
               </with>
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="flintstones.element.ui.handler.expert.remove.RemoveExpertsHandler"
            commandId="flintstones.element.expert.remove">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="flintstones.element.expert.Expert">
                     </instanceof>
                  </iterate>
               </with>
               <not>
                  <reference
                        definitionId="oneElementSelected">
                  </reference>
               </not>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="flintstones.element.experts.category"
            name="%expert.category.name">
      </category>
      <command
            categoryId="flintstones.element.experts.category"
            id="flintstones.element.expert.add"
            name="%expert.command.add.name">
      </command>
      <command
            categoryId="flintstones.element.experts.category"
            id="flintstones.element.expert.modify"
            name="%expert.command.modify.name">
      </command>
      <command
            categoryId="flintstones.element.experts.category"
            id="flintstones.element.expert.remove"
            name="%expert.command.remove.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="flintstones.element.expert.add"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/add_obj.gif">
      </image>
      <image
            commandId="flintstones.element.expert.modify"
            icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.gif">
      </image>
      <image
            commandId="flintstones.element.expert.remove"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/delete_obj.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>

</plugin>
