<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.elements.category"
            name="Category">
      </category>
      <view
            allowMultiple="false"
            category="flintstones.elements.category"
            class="flintstones.element.ui.view.experts.ExpertsView"
            icon="icons/group-of-experts.png"
            id="flintstones.element.ui.view.experts"
            name="Expertos"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:flintstones.element.ui.view.experts">
         <command
               commandId="flintstones.element.expert.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.modify"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:flintstones.element.ui.view.expert">
         <command
               commandId="flintstones.element.expert.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.modify"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:flintstones.element.ui.view.experts">
         <command
               commandId="flintstones.element.expert.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.modify"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="flintstones.element.expert.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="flintstones.element.ui.handler.add.AddExpertHandler"
            commandId="flintstones.element.expert.add">
      </handler>
      <handler
            class="flintstones.element.ui.handler.modify.ModifyExpertHandler"
            commandId="flintstones.element.expert.modify">
      </handler>
      <handler
            class="flintstones.element.ui.handler.remove.RemoveExpertHandler"
            commandId="flintstones.element.expert.remove">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="flintstones.element.experts.category"
            name="Expertos">
      </category>
      <command
            categoryId="flintstones.element.experts.category"
            id="flintstones.element.expert.add"
            name="Añadir">
      </command>
      <command
            categoryId="flintstones.element.experts.category"
            id="flintstones.element.expert.modify"
            name="Modificar">
      </command>
      <command
            categoryId="flintstones.element.experts.category"
            id="flintstones.element.expert.remove"
            name="Eliminar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="flintstones.element.expert.add"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/add_obj.gif">
      </image>
      <image
            commandId="flintstones.element.expert.modify"
            icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.gif">
      </image>
      <image
            commandId="flintstones.element.expert.remove"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/delete_obj.gif">
      </image>
   </extension>

</plugin>
