<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.phasemethod.ui">
      <ui
            id="flintstones.phasemethod.unbalanced.methodology.aggregation.ui"
            name="Aggregation"
            phasemethod="flintstones.phasemethod.unbalanced.methodology.aggregation">
         <view
               step="sinbad2.phasemethod.unbalanced.methodology.aggregation.ui.view.AggregationProcess">
         </view>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.phasemethod.unbalanced.methodology.aggregation.ui.category"
            name="Aggregation">
      </category>
      <view
            category="flintstones.phasemethod.unbalanced.methodology.aggregation.ui.category"
            class="sinbad2.phasemethod.unbalanced.methodology.aggregation.ui.view.AggregationProcess"
            id="flintstones.phasemethod.unbalanced.methodology.aggregation.ui.view.aggregationprocess"
            name="Aggregation process"
            restorable="true">
      </view>
   </extension>

</plugin>
